.alert {
  border: 1px solid color($color-body tint(50%));
  color: $color-body;
  background-color: color($color-body tint(80%));
  padding: 1em;
  margin: 1em 0;
  line-height: 1.5;
  border-radius: $border-radius;
}

.alert *:first-child {
  margin-top: 0;
}

.alert *:last-child {
  margin-bottom: 0;
}

.alert.fail {
  border-color: color($color-secondary-1-0 tint(50%));
  color: $color-secondary-1-0;
  background-color: color($color-secondary-1-0 tint(80%));
}

.alert.success {
  border-color: color($color-primary-0 tint(50%));
  color: color($color-primary-0 shade(20%));
  background-color: color($color-primary-0 tint(80%));
}

.alert p {
  margin: 1em 0;
}

$selector: .alert a;
@mixin link $selector, $color-secondary-1-0;
