.button {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 5px 8px;
  display: inline-block;
  background-color: var(--color-primary-0);
  color: #ffffff;
}

.button.disabled,
.button:disabled {
  cursor: default;
  background-color: color(var(--color-primary-0) tint(50%));
  border-color: color(var(--color-primary-0) tint(50%));
}

.button:hover {
  background-color: color(var(--color-primary-0) tint(20%));
  border-color: color(var(--color-primary-0) tint(20%));
}

.button:active {
  background-color: color(var(--color-primary-0) shade(20%));
  border-color: color(var(--color-primary-0) shade(20%));
}

.button:focus {
  border-color: var(--color-primary-0);
  box-shadow: 0 0 3px var(--color-primary-0);
}

.button.secondary {
  background-color: var(--color-secondary-1-0);
}

.button.secondary:hover {
  background-color: color(var(--color-secondary-1-0) tint(20%));
  border-color: color(var(--color-secondary-1-0) tint(20%));
}

.button.secondary:active {
  background-color: color(var(--color-secondary-1-0) shade(20%));
  border-color: color(var(--color-secondary-1-0) shade(20%));
}

.button.secondary:focus {
  border-color: var(--color-secondary-1-0);
  box-shadow: 0 0 3px var(--color-secondary-1-0);
}

.button.secondary.disabled,
.button.secondary:disabled {
  background-color: color(var(--color-secondary-1-0) tint(50%));
  border-color: color(var(--color-secondary-1-0) tint(50%));
}
