.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2em;
}

.rainbow {
  font-size: var(--font-size);
}

.site-heading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.site-heading-link {
  color: #ffffff;
}

.site-heading {
  background-color: var(--color-primary-0);
  transition: background var(--animation-duration) ease;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.color-palette-heading {
  font-size: 1.17em;
}

.heading-primary {
  font-size: 22px;
}

.heading-secondary {
  font-size: 1.5em;
}

.example-code + .rainbow-pre {
  margin-top: 0;
  border-radius: 0 0 3px 3px;
}

.example-code {
  padding: 1em;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  background-color: #ffffff;
}

.color-palette-color {
  padding: 10px;
  margin-top: 12px;
  color: #ffffff;
}

.color-primary-0 {
  background-color: var(--color-primary-0);
}

.color-primary-1 {
  background-color: var(--color-primary-1);
}

.color-primary-2 {
  background-color: var(--color-primary-2);
}

.color-primary-3 {
  background-color: var(--color-primary-3);
}
.color-primary-4 {
  background-color: var(--color-primary-4);
}

.color-secondary-1-0 {
  background-color: var(--color-secondary-1-0);
}

.color-secondary-1-1 {
  background-color: var(--color-secondary-1-1);
}

.color-secondary-1-2 {
  background-color: var(--color-secondary-1-2);
}

.color-secondary-1-3 {
  background-color: var(--color-secondary-1-3);
}

.color-secondary-1-4 {
  background-color: var(--color-secondary-1-4);
}

.color-secondary-2-0 {
  background-color: var(--color-secondary-2-0);
}

.color-secondary-2-1 {
  background-color: var(--color-secondary-2-1);
}

.color-secondary-2-2 {
  background-color: var(--color-secondary-2-2);
}

.color-secondary-2-3 {
  background-color: var(--color-secondary-2-3);
}

.color-secondary-2-4 {
  background-color: var(--color-secondary-2-4);
}

.container-primary-inner {
  max-width: 1024px;
  margin: 0 auto;
}

.container-primary {
  padding: 40px;
  border-bottom: 1px solid #eeeeee;
}

.color-palette-column {
  float: left;
  width: 33.333%;
  padding-left: 20px;
}

.color-palette-column:first-child {
  padding-left: 0;
}
.rainbow-pre {
  padding: 1em;
  border: 1px dashed #cccccc;
  color: rgba(0, 0, 0, 0.75);
  transition: color var(--animation-duration);
}

.container-primary > h1 {
  margin-top: 0;
}

.menu-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  padding: 14px;
  background-color: var(--color-primary-1);
}

.menu-hamburger svg {
  width: 100%;
  height: 100%;
}

.menu-container:hover .menu-hamburger {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu-primary {
  position: absolute;
  top: 42px;
  right: -200px;
  width: 200px;
  background-color: var(--color-primary-0);
  transition: right var(--animation-duration) ease;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menu-primary-item-link {
  display: block;
  padding: 10px 16px;
  color: #ffffff;
  padding: 7px 10px;
  border-top: 1px solid var(--color-primary-1);
}

.menu-primary-item-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container:hover .menu-primary {
  right: 0;
}

.content-container {
  padding-top: 42px;
}
