
@define-mixin button $selector, $color, $colorBg {

  $(selector) {
    font-weight: 600;
    cursor: pointer; 
    border: none;
    text-align: center;
    line-height: 1;
    padding: 5px 8px;
    border-radius: $border-radius;
    display: inline-block;
    background-color: $colorBg;
    color: $color;
  }

  $(selector):hover {
    background-color: color($colorBg tint(20%));
    border-color: color($colorBg tint(20%));
  }

  $(selector):active {
    background-color: color($colorBg shade(20%));
    border-color: color($colorBg shade(20%));
  }

  $(selector):focus {
    border-color: $color-primary-0;
  }

  $(selector).disabled,
  $(selector):disabled {
    cursor: default;
    background-color: color($colorBg tint(50%));
    border-color: color($colorBg tint(50%));
  }
}

@define-mixin link $selector, $color {

  $(selector):visited,
  $(selector) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: $color;
    border-bottom-color: $color;
    /*// @upgrade @mixin text-decoration-line(underline);*/
    /*// @upgrade @mixin text-decoration-color(rgba($color, .5));*/
  }

  $(selector):hover { 
    color: color($color shade(20%));
    border-bottom-color: color($color shade(20%));
    /*// @upgrade @mixin text-decoration-color($color);*/
  }

  $(selector):focus {
    box-shadow: 0 0 3px $color-primary-0;
  }

  $(selector):active {
    color: color($color shade(50%));
    border-bottom-color: color($color shade(50%));
    /*// @upgrade @mixin text-decoration-color(mix(#000, $color, 20%));*/
  }
}

@define-mixin table $selector, $colorBorder {

  $(selector) {
    width: 100%;
  }

  $(selector) th {
    font-weight: 600;
    text-align: left;
  }

  $(selector) th,
  $(selector) td {
    padding: .5em;
    border: 1px solid $color-secondary-1-0;
  }
}

@define-mixin clearfix $selector {

  $(selector)::after {
    clear: both;
    content: "";
    display: table;
  }
}

@define-mixin form-label $selector {

  $(selector) {
    font-weight: 600;
    margin-right: 1em;
    line-height: 1.8;
  }

  $(selector).block {
    margin-bottom: 6px;
    margin-right: 0;
    line-height: 1.5;
  }
}

@define-mixin form-input $selector {

  $(selector) {
    font-size: 1em;
    box-sizing: border-box;
    appearance: none;
    color: $color-body;
    font-family: $font-family-body;
    border: 1px solid $color-secondary-1-0;
    padding: 5px;
    margin: 0;
    border-radius: $border-radius;
  }

  $(selector):focus {
    box-shadow: 0 0 3px rgba(#000, .2);
    border-color: $color-secondary-1-0;
    color: $color-body;
  }
}

@define-mixin typography-heading $font-size {
  color: $color-heading;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  margin: 1em 0 0.5em;
  line-height: 1;
  font-size: $font-size;
}
