@import 'normalize.css';

::selection {
  color: var(--selection-color);
  background-color: var(--selection-background-color);
}

::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

:-moz-placeholder {
  color: var(--placeholder-color);
}

::-moz-placeholder {
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

body {
  color: var(--body-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

input,
select,
svg,
a:focus {
  outline: none;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  line-height: 1;
}

fieldset {
  padding: 0;
  margin: 1em 0;
  border: none;
}
