.alert {
    border: 1px solid mix(#fff, $body-color, 50%);
    color: $body-color;
    background-color: mix(#fff, $body-color, 80%);
    padding: 1em;
    margin: 1em 0;
    line-height: 1.5;

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }

    &.fail {
        border-color: mix(#fff, $color-secondary-1-0, 50%);
        color: $color-secondary-1-0;
        background-color: mix(#fff, $color-secondary-1-0, 80%);
    }

    &.success {
        border-color: mix(#fff, $color-primary-0, 50%);
        color: mix(#000, $color-primary-0, 20%);
        background-color: mix(#fff, $color-primary-0, 80%);
    }

    p {
        @extend .p;
    }

    a {
        @include link;
    }
}
