

// builds a button with a custom color and background color
@mixin button($color: $color-primary-0, $background-color: transparent) {
  font-weight: 600;
  cursor: pointer; 
  border: none;
  outline: none;
  text-align: center;
  line-height: 1;
  padding: 5px 8px;
  background-color: $background-color;
  border: 1px solid;
  color: $color;
  display: inline-block;

  @if $background-color == transparent {
    border-color: $color;
  } @else {
    border-color: $background-color;
  }

  &:hover {

    @if $background-color == transparent {
      background-color: $background-color;
    } @else {
      background-color: mix(#fff, $background-color, 20%);
    }
  }

  &:active {

    @if $background-color == '' {
      background-color: transparent;
    } @else {
      background-color: mix(#000, $background-color, 20%);
    }
  }

  &:focus {
    border-color: yellow;
  }

  &.disabled,
  &:disabled {
    cursor: default;

    @if $background-color == '' {
      color: mix(#fff, $color, 50%);
      border-color: mix(#fff, $color, 50%);
    } @else {
      background-color: mix(#fff, $background-color, 50%);
      border-color: mix(#fff, $background-color, 50%);
    }
  }
}


// builds styling for a link
@mixin link($color: blue) {
  @include linkContent($color);

  &:visited {
    @include linkContent($color);
  }
}


// builds styling for a link
@mixin link($color: blue) {
  @include linkContent($color);

  &:visited {
    @include linkContent($color);
  }
}


// generates the styles required to build a link
@mixin linkContent($color) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: $color;
  border-bottom-color: $color;

  &:hover { 
    color: shade($color, 20%);
    border-bottom-color: shade($color, 20%);
  }

  &:focus,
  &:active {
    color: shade($color, 50%);
    border-bottom-color: shade($color, 50%);
  }
}


// builds an input style
@mixin formInput() {
  font-size: 1em;
  box-sizing: border-box;
  @include appearance(none);
  color: $body-color;
  font-family: $body-font-family;
  border: 1px solid $color-secondary-1-0;
  padding: 2px 3px;
  margin: 0;
  outline: 0;

  &:focus {
    box-shadow: 0 0 3px rgba(#000, .2);
    border-color: $color-secondary-1-0;
    color: $body-color;
  }
}


@mixin formSelect() {
  font-size: 1em;
  box-sizing: border-box;
  color: $body-color;
  font-family: $body-font-family;
  border: 1px solid $color-secondary-1-0;
  padding: 1px 2px;
  margin: 0;
  outline: 0;

  &:focus {
    box-shadow: 0 0 3px rgba(#000, .2);
    border-color: $color-secondary-1-0;
    color: $body-color;
  }
}


// builds a basic table
@mixin table() {
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;
    background-color: rgba(#000, .05);
  }

  th,
  td {
    padding: 0.5em;
    border: 1px solid $color-secondary-1-0;
  }
}
