%block-margins {
  margin: 1em 0;
}

%hidden {
  display: none !important;
  visibility: hidden;
}

%table {
  @include table;
}

%form-label {
  font-weight: 600;
  margin-right: 1em;

  // 28px
  line-height: 1.8;

  &.block {
    margin-bottom: 6px;
  }
}

%form-input {
  @include formInput;
}

%form-select {
  @include formSelect;
}

%form-action {
  @include clearfix;

  .left {
    margin-right: 1em;
  }

  .right {
    margin-left: 1em;
  }
}

%page-break {
  display: block;
  page-break-after: always;
  page-break-inside: avoid;
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%link {
  @include link($color-primary-0);
}

%link-secondary {
  @include link($color-secondary-1-0);
}

%button {
  @include button(#fff, $color-secondary-1-0);
}

%button-outline {
  @include button($color-secondary-1-0);
}

%button-primary {
  @include button(#fff, $color-primary-0);
}

%button-primary-outline {
  @include button($color-primary-0);
}

%h {
  color: $heading-color;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 1em 0 0.5em;
  line-height: 1;
}

%h1 {
  @extend %h;
  font-size: 2em;
}

%h2 {
  @extend %h;
  font-size: 1.5em;
}

%h3 {
  @extend %h;
  font-size: 1.17em;
}

%h3,
%h4 {
  @extend %h;
  line-height: 1.3;
}

%h5 {
  @extend %h;
  font-size: .83em;
}

%h6 {
  @extend %h;
  font-size: .75em;
}

%p {
  @extend %block-margins;
  line-height: $line-height;
  
  &.lead {
    font-size: 20px;
    color: mix(#fff, $body-color, 20%);
  }
}
