@include selection {
  color: $selection-color;
  background-color: $selection-background;
} 

@include placeholder() {
  color: $placeholder-color;
}

body {
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 1em 0;
  border: none;
}
