.typography {

  a,
  a:visited {
    @extend .a;
    line-height: $line-height;
    word-break: break-all;
  }

  a:hover,
  a:focus { 
    color: $color-link-hover;
    border-bottom-color: $color-link-hover;
  }

  *:focus {
    outline: none;
  }

  i,
  em {
    @extend .italic;
  }

  b, strong {
    @extend .bold;
  }

  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }

  p {
    @extend .p;
  }

  ul {
    @extend .unordered-list;
  }

  ol {
    @extend .ordered-list;
  }

  pre,
  code {
    @extend %block-margins;
  }
}
