.typography {

  a,
  a:visited {
    @extend .a;
    line-height: $line-height;
    word-break: break-all;
  }

  a:hover,
  a:focus { 
    color: $color-link-hover;
    border-bottom-color: $color-link-hover;
  }

  *:focus {
    outline: none;
  }

  i,
  em {
    @extend .italic;
  }

  b, strong {
    @extend .bold;
  }

  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }

  p {
    @extend .p;
  }

  ul {
    @extend .unordered-list;
  }

  ol {
    @extend .ordered-list;
  }

  pre,
  code {
    @extend %block-margins;
  }

  mark {
    background-color: $color-primary-0;
    color: #fff;
  }
}

.text-ellipsis {
  @extend %text-ellipsis;
}

.page-primary-title {
  margin-top: 0;
  @extend .h1;
}

.page-primary-description {
  @extend .p;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-size-larger {
  font-size: 1.2em;
}

.text-size-smaller {
  font-size: .8em;
}

.h1 {
  @extend %h1;
}

.h2 {
  @extend %h2;
}

.h3 {
  @extend %h3;
}

.h4 {
  @extend %h4;
}

.h5 {
  @extend %h5;
}

.h6 {
  @extend %h6;
}

.p {
  @extend %p;
}

.blockquote {
  border-left: 2px solid mix(#fff, $body-color, 50%);
  padding: 1em 1em 1em 1.5em;
  margin: 0;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
} 

.underline {
  text-decoration: underline;
}

.unordered-list {
  list-style-type: disc;
  list-style-position: outside;
}

.ordered-list {
  list-style: decimal;
}

.unordered-list,
.ordered-list {
  margin-left: 1em;
  padding-left: 1em;
}

.p,
.unordered-list,
.ordered-list {
  @extend %block-margins;
}

.a,
.link {
  @extend %link;
}

.link-secondary {
  @extend %link-secondary;
}
