.alert {
  line-height: 1.5;
  margin: 1em 0;
  padding: 1em;
  color: var(--body-color);
  border: 1px solid color(var(--body-color) tint(50%));
  background-color: color(var(--body-color) tint(80%));
  border-radius: var(--border-radius);
}

.alert *:first-child {
  margin-top: 0;
}

.alert *:last-child {
  margin-bottom: 0;
}

.alert.fail {
  color: var(--color-secondary-1-0);
  border-color: color(var(--color-secondary-1-0) tint(50%));
  background-color: color(var(--color-secondary-1-0) tint(80%));
}

.alert.success {
  color: color(var(--color-primary-0) shade(20%));
  border-color: color(var(--color-primary-0) tint(50%));
  background-color: color(var(--color-primary-0) tint(80%));
}

.alert p {
  margin: 1em 0;
}
