.btn {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 0.3em 0.4em;
  display: inline-block;
  border-radius: var(--border-radius);
  background-color: transparent;
transition: background-color .2s ease;
}

.btn:focus {
    outline: 0;
}

.btn-primary {
  background-color: var(--button-background-color);
  color: var(--white);
}

.btn-outline:focus {
  box-shadow: 0 0 0 2px var(--button-background-color);
}

.btn-outline:hover {
  border-color: color(var(--button-outline-color) tint(20%));
  color: color(var(--button-outline-color) tint(20%));
}

.btn-outline:active {
  border-color: color(var(--button-outline-color) shade(20%));
  color: color(var(--button-outline-color) shade(20%));
}

.btn-outline {
  border: 1px solid var(--button-outline-color);
}

.btn-primary.disabled,
.btn-primary:disabled {
  cursor: default;
  background-color: color(var(--button-background-color) tint(50%));
}

.btn-primary:hover {
  background-color: color(var(--button-background-color) tint(20%));
}

.btn-primary:active,
.btn-primary:focus {
  background-color: color(var(--button-background-color) shade(20%));
}

.btn-secondary {
    color: var(--white);
  background-color: var(--button-secondary-background-color);
}

.btn-secondary:hover {
  background-color: color(var(--button-secondary-background-color) tint(20%));
}

.btn-secondary:active,
.btn-secondary:focus {
  background-color: color(var(--button-secondary-background-color) shade(20%));
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: color(var(--button-secondary-background-color) tint(50%));
}
