.button {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 0.4em 0.5em;
  display: inline-block;
  border-radius: var(--border-radius);
  background-color: transparent;
}

.button.primary {
  background-color: var(--color-primary-0);
  color: var(--background-color);
}

.button.outline {
  border: 1px solid;
}

.button.primary.disabled,
.button.primary:disabled {
  cursor: default;
  background-color: color(var(--color-primary-0) tint(50%));
  border-color: color(var(--color-primary-0) tint(50%));
}

.button.primary:hover {
  background-color: color(var(--color-primary-0) tint(20%));
  border-color: color(var(--color-primary-0) tint(20%));
}

.button.primary:active {
  background-color: color(var(--color-primary-0) shade(20%));
  border-color: color(var(--color-primary-0) shade(20%));
}

.button.primary:focus {
  border-color: var(--color-primary-0);
  box-shadow: 0 0 3px var(--color-primary-0);
}

.button.secondary {
  background-color: var(--color-secondary-1-0);
}

.button.secondary:hover {
  background-color: color(var(--color-secondary-1-0) tint(20%));
  border-color: color(var(--color-secondary-1-0) tint(20%));
}

.button.secondary:active {
  background-color: color(var(--color-secondary-1-0) shade(20%));
  border-color: color(var(--color-secondary-1-0) shade(20%));
}

.button.secondary:focus {
  border-color: var(--color-secondary-1-0);
  box-shadow: 0 0 3px var(--color-secondary-1-0);
}

.button.secondary.disabled,
.button.secondary:disabled {
  background-color: color(var(--color-secondary-1-0) tint(50%));
  border-color: color(var(--color-secondary-1-0) tint(50%));
}
