.button {
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 1;
  padding: 0.4rem 0.5rem;
  display: inline-block;
  border-radius: var(--border-radius);
  background-color: transparent;
}

.button.primary {
  background-color: var(--razzmatazz);
  color: var(--white);
}

.button.outline {
  border: 1px solid;
}

.button.primary.disabled,
.button.primary:disabled {
  cursor: default;
  background-color: color(var(--razzmatazz) tint(50%));
  border-color: color(var(--razzmatazz) tint(50%));
}

.button.primary:hover {
  background-color: color(var(--razzmatazz) tint(20%));
  border-color: color(var(--razzmatazz) tint(20%));
}

.button.primary:active {
  background-color: color(var(--razzmatazz) shade(20%));
  border-color: color(var(--razzmatazz) shade(20%));
}

.button.primary:focus {
  border-color: var(--razzmatazz);
  box-shadow: 0 0 3px var(--razzmatazz);
}

.button.secondary {
  background-color: var(--bud);
}

.button.secondary:hover {
  background-color: color(var(--bud) tint(20%));
  border-color: color(var(--bud) tint(20%));
}

.button.secondary:active {
  background-color: color(var(--bud) shade(20%));
  border-color: color(var(--bud) shade(20%));
}

.button.secondary:focus {
  border-color: var(--bud);
  box-shadow: 0 0 3px var(--bud);
}

.button.secondary.disabled,
.button.secondary:disabled {
  background-color: color(var(--bud) tint(50%));
  border-color: color(var(--bud) tint(50%));
}
