@import "_settings.css";
$font-size: 14;
@import "_dependencies.css";

.color-primary {
	color: $color-primary-0;
}

.color-secondary {
	color: $color-secondary-1-0;
}

.color-tertiary {
	color: $color-secondary-2-0;
}

.color-gray-30 {
	color: $color-secondary-1-0;
}

.color-text {
	color: $color-secondary-1-0;
}

.no-spacing {
	/*@include email-no-spacing;*/
}

.padding {
	padding-top: $font-size + px;
	padding-right: $font-size + px;
	padding-bottom: $font-size + px;
	padding-left: $font-size + px;
}

.footer-p {
	/*@include email-typography-small;*/
}

.a {
	/*@include email-a;*/
}

.a-small {
	/*@include email-a;*/
	/*@include email-typography-small;*/
	font-weight: bold;
}

.h1 {
	/*@include email-heading;*/
	font-size: $font-size * 2px;
}

.h2 {
	/*@include email-heading;*/
	font-size: $font-size * 1.5px;
}

.h3 {
	/*@include email-heading;*/
	font-size: $font-size * 1.17px;
}

.h4 {
	/*@include email-heading;*/
	font-size: $font-size * 1px;
}

.h5 {
	/*@include email-heading;*/
	font-size: $font-size * .83px;
}

.h6 {
	/*@include email-heading;*/
	font-size: $font-size * .75px;
}

.p {
	/*@include email-typography;*/
	margin-top: $font-size + px;
	margin-right: 0;
	margin-bottom: $font-size + px;
	margin-left: 0;
}

.ul {
	/*@include email-typography;*/
	margin-top: $font-size + px;
	margin-right: 0;
	margin-bottom: $font-size + px;
	margin-left: 0;
	padding-left: $font-size * 3px;
}

.li {
	/*@include email-typography;*/
	margin-top: $font-size * .5px;
	margin-right: 0;
	margin-bottom: $font-size * .5px;
	margin-left: 0;
}

.background-table {
	/*@include email-no-spacing;*/
	width: 100%;
	line-height: 100%;
}

.table {
	/*@include email-table;*/
}

.table-spaced {
	/*@include email-table;*/
	margin-top: $font-size + px;
	margin-bottom: $font-size + px;
}

.td {
	/*@include email-td;*/
}

.th {
	/*@include email-td;*/
	font-weight: bold;
}

.body {
	/*@include email-no-spacing;*/
	color: #fff;
	border-color: #fff;	
	width: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.img {
	/*@include email-image;*/
}

.img-block {
	/*@include email-image;*/
	display: block;
}

.message {
	background-color: $color-secondary-1-0;
	padding: $font-size + px;
	border: 1px solid $color-secondary-1-0;
	display: block;
}

.typography-small {
	/*@include email-typography-small;*/
}

.typography {
	/*@include email-typography;*/
}
