.form-group {
  margin: 1rem 0;
}

.form-label {
  font-weight: 600;
}

.form-label.block {
  margin-bottom: 0.5rem;
  margin-right: 0;
  line-height: 1.5;
}

.form-control {
  font-size: 1rem;
  box-sizing: border-box;
  color: var(--body-color);
  font-family: var(--font-family);
  border: 1px solid var(--color-secondary-1-0);
  padding: 0.4rem;
  margin: 0;
  border-radius: var(--border-radius);
}

.form-control:focus {
  box-shadow: 0 0 3px rgba(#000000, 0.2);
  border-color: var(--color-secondary-1-0);
  color: var(--body-color);
}

.form-checkbox,
.form-radio {
  margin-right: 0.5rem;
}

select.form-control {
  padding: 0.3rem 0.2rem;
}

input.form-control {
  appearance: none;
}

.form-select:focus {
  box-shadow: 0 0 3px rgba(#000000, 0.2);
  border-color: var(--color-secondary-1-0);
  color: var(--body-color);
}

.form-vertical .form-label {
  display: block;
  margin-bottom: .5rem;
}
