.form-group {
  margin: 1rem 0;
}

.control-label {
  /*font-weight: 600;*/
}

.control-label.block {
  margin-bottom: 0.5rem;
  margin-right: 0;
  line-height: 1.5;
}

.form-control {
  font-size: 1rem;
  box-sizing: border-box;
  color: var(--form-control-color);
  font-family: var(--font-family);
  border: 1px solid var(--form-control-border-color);
  padding: 0.4rem;
  border-radius: var(--border-radius);
}

.form-select:focus,
.form-control:focus {
  /*box-shadow: 0 0 3px rgba(#000000, 0.2);*/
  border-color: color(var(--form-control-border-color) tint(20%));
  color: var(--body-color);
}

.form-checkbox,
.form-radio {
  margin-right: 0.5rem;
}

select.form-control {
  padding: 0.3rem 0.2rem;
}

input.form-control {
  appearance: none;
}

.form-vertical .control-label {
  display: block;
  margin-bottom: .5rem;
}

.form-horizontal .form-group > .control-label {
    line-height: 2.3;
    text-align: right;
}
