.link:visited,
.typography a:visited,
.link,
.typography a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: $color-primary-0;
  border-bottom-color: $color-primary-0;
  cursor: pointer; /* when will this not be needed? */
  /*// @upgrade @mixin text-decoration-line(underline);*/
  /*// @upgrade @mixin text-decoration-color(rgba($color-primary-0, .5));*/
}

.link:hover,
.typography a:hover { 
  color: color($color-primary-0 shade(20%));
  border-bottom-color: color($color-primary-0 shade(20%));
  /*// @upgrade @mixin text-decoration-color($color-primary-0);*/
}

.link:focus,
.typography a:focus {
  box-shadow: 0 0 3px $color-primary-0;
}

.link:active,
.typography a:active {
  color: color($color-primary-0 shade(50%));
  border-bottom-color: color($color-primary-0 shade(50%));
  /*// @upgrade @mixin text-decoration-color(mix(#000, $color, 20%));*/
}

.link.secondary:visited,
.link.secondary {
  color: $color-secondary-1-0;
}

.link.secondary:hover {
  color: color($color-secondary-1-0 shade(20%));
}

.link.secondary:active {
  color: color($color-secondary-1-0 shade(50%));
  border-bottom-color: color($color-secondary-1-0 shade(50%));
}
