@import "normalize.css";

::selection {
  color: $selection-color;
  background-color: $selection-background;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
}

:-moz-placeholder {
  color: $placeholder-color;
}

::-moz-placeholder {
  color: $placeholder-color;
}

:-ms-input-placeholder {  
  color: $placeholder-color;
}

body {
  color: $color-body;
  font-family: $font-family-body;
  font-size: $font-size-body;
  font-weight: $font-weight-body;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

input,
select,
svg,
a:focus {
  outline: none;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 1em 0;
  border: none;
}
