.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.block {
  display: block;
}

.block-margins {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.w100 {
  width: 100%;
}

.m1 {
  margin: 1rem;
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.p1 {
  padding: 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pl1 {
  padding-left: 1rem;
}

.height7 {
    height: 7rem;
}

.page-break {
  display: block;
  page-break-after: always;
  page-break-inside: avoid;
}

.text-size-larger {
  font-size: 1.2rem;
}

.text-size-smaller {
  font-size: 0.8rem;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-gray-20);
}

.rounded-corners {
    border-radius: var(--border-radius);
}
