$color-primary-0: #74a611;
$color-primary-1: color($color-primary-0 shade(25%));
$color-primary-2: color($color-primary-0 shade(50%));
$color-primary-3: color($color-primary-0 tint(25%));
$color-primary-4: color($color-primary-0 tint(50%));
$color-secondary-1-0: #7b8073;
$color-secondary-1-1: color($color-secondary-1-0 shade(25%));
$color-secondary-1-2: color($color-secondary-1-0 shade(50%));
$color-secondary-1-3: color($color-secondary-1-0 tint(25%));
$color-secondary-1-4: color($color-secondary-1-0 tint(50%));
$color-secondary-2-0: #dd1e2f;
$color-secondary-2-1: color($color-secondary-2-0 shade(25%));
$color-secondary-2-2: color($color-secondary-2-0 shade(50%));
$color-secondary-2-3: color($color-secondary-2-0 tint(25%));
$color-secondary-2-4: color($color-secondary-2-0 tint(50%));
$font-family-body: 'Open Sans', 'Arial', 'sans-serif';
$font-weight-body: 400;
$font-size-body: 16px;
$font-family-heading: $font-family-body;
$font-weight-heading: 600;
$font-line-height-common: 1.5;
$selection-color: #fff;
$selection-background: $color-primary-0;
$placeholder-color: color(#fff shade(30%));
$color-heading: $color-secondary-1-1;
$color-body: $color-secondary-1-1;
$color-link-hover: $color-secondary-1-0;
$border-radius: 0px;
$animation-duration: 350ms;
