:root {

  --color-primary-0: #ff5722;
  --color-primary-0: #D21480;
  --color-primary-0: #F1043F;
  --color-primary-1: color(var(--color-primary-0) shade(25%));
  --color-primary-2: color(var(--color-primary-0) shade(50%));
  --color-primary-3: color(var(--color-primary-0) tint(25%));
  --color-primary-4: color(var(--color-primary-0) tint(50%));

  --color-secondary-1-0: #4B6263;
  --color-secondary-1-1: color(var(--color-secondary-1-0) shade(25%));
  --color-secondary-1-2: color(var(--color-secondary-1-0) shade(50%));
  --color-secondary-1-3: color(var(--color-secondary-1-0) tint(25%));
  --color-secondary-1-4: color(var(--color-secondary-1-0) tint(50%));

  --color-secondary-2-0: #ccc;
  --color-secondary-2-1: color(var(--color-secondary-2-0) shade(25%));
  --color-secondary-2-2: color(var(--color-secondary-2-0) shade(50%));
  --color-secondary-2-3: color(var(--color-secondary-2-0) tint(25%));
  --color-secondary-2-4: color(var(--color-secondary-2-0) tint(50%));

  --color-gray-10: color(#fff shade(10%));
  --color-gray-20: color(#fff shade(20%));
  --color-gray-30: color(#fff shade(30%));
  --color-gray-40: color(#fff shade(40%));
  --color-gray-50: color(#fff shade(50%));

  --body-color: var(--color-secondary-1-0);
  --selection-background-color: var(--color-primary-0);
  --placeholder-color: color(#ffffff shade(30%));
  --heading-color: var(--color-secondary-1-3);
  
  --font-family: 'Open Sans', 'Arial', 'sans-serif';
  --font-weight: 400;
  --font-size: 1rem;
  --font-line-height: 1.5;
  --font-family-heading: var(--font-family);
  --background-color: #fff;
  --selection-color: #ffffff;
  --font-weight-heading: 600;
  --border-radius: 3px;
  --animation-duration: 250ms; /*needed?*/
}
