:root {
    --scorpion: #595959;
    --gallery: #EFEFEF;
    --razzmatazz: #F61067;
    --bud: #A4AC96;
    --red-damask: #DD614A;
    --white: #FFFFFF;

    --body-color: var(--scorpion);
    --background-color: var(--gallery);

    --selection-background-color: var(--razzmatazz);
    --selection-color: var(--white);

    --placeholder-color: var(--bud);

    --heading-color: color(var(--scorpion) shade(20%));

    --form-control-color: var(--scorpion);
    --form-control-border-color: var(--scorpion);

    --link-color: var(--razzmatazz);
    --link-secondary-color: var(--bud);

    --button-background-color: var(--razzmatazz);
    --button-secondary-background-color: var(--red-damask);

    --badge-background-color: var(--razzmatazz);
    --badge-secondary-background-color: var(--red-damask);

    --font-family: 'Open Sans', 'Arial', 'sans-serif';
    --font-weight: 400;
    --font-size: 1rem;
    --font-line-height: 1.5;
    --font-family-heading: var(--font-family);
    --font-weight-heading: 600;

    --border-radius: .2rem;

    /* mwyatt-dialogue */
    --color-primary-0: var(--scorpion);
    --color-primary-1: var(--scorpion);
    --color-primary-3: var(--scorpion);
}
