.spinner {
  animation: rotateFull 0.5s infinite linear;
  height: 26px;
  width: 26px;
  margin: 0 auto;
  position: relative;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-top-color: #eee;
  border-radius: 100%;
  border-width: 4px;
  border-style: solid;
}
