
@keyframes rotateFull {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.spinner {
  animation: rotateFull 0.5s infinite linear;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 auto;
  position: relative;
  border-left-color: #cccccc;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-top-color: #eeeeee;
  border-radius: 100%;
  border-width: 4px;
  border-style: solid;
}
