.cx-to-top {
    transition-duration: 250ms;
    transition-property: transform bottom;
    transition-timing-function: var(--ease-out-expo);
    position: fixed;
    bottom: -3rem;
    right: .5rem;
    z-index: 1;
    background-color: var(--bud);
    color: var(--white);
    border-radius: var(--border-radius);
    padding: 0.3em 0.5em;
}
