.typography *:focus {
  outline: none;
}

.i,
.typography i,
.em,
.typography em {
  font-style: italic;
}

.b,
.typography b,
.strong,
.typography strong {
  font-weight: 700;
}

.h1,
.typography h1,
.h2,
.typography h2,
.h3,
.typography h3,
.h3,
.typography h3,
.h4,
.typography h4,
.h5,
.typography h5,
.h6,
.typography h6 {
  color: var(--heading-color);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  margin: 1em 0 0.5em;
}

.h1,
.typography h1 {
  font-size: 2em;
}

.h2,
.typography h2 {
  font-size: 1.5em;
}

.h3,
.typography h3 {
  font-size: 1.17em;
}

.h3,
.typography h3,
.h4,
.typography h4 {
  line-height: 1.3;
}

.h4,
.typography h4 {
  font-size: 1.12em;
}

.h5,
.typography h5 {
  font-size: 0.83em;
}

.h6,
.typography h6 {
  font-size: 0.75em;
}

.ul,
.typography ul,
.ol,
.typography ol,
.p,
.typography p {
  margin: 1em 0;
  line-height: var(--font-line-height);
}

.typography p.lead {
  font-size: 20px;
  color: color(var(--body-color) tint(20%));
}

.ul,
.typography ul,
.ol,
.typography ol {
  margin-left: 1em;
  padding-left: 1em;
  list-style-position: inside;
}
  
.ul,
.typography ul {
  list-style-type: disc;
}

.ol,
.typography ol {
  list-style-type: decimal;
}

.typography pre,
.typography code {
  margin: 1em 0;
}

.mark,
.typography mark {
  background-color: var(--color-primary-0);
  color: #ffffff;
}

.blockquote,
.typography blockquote {
  border-left: 2px solid color(var(--body-color) tint(50%));
  padding: 1em 1em 1em 1.5em;
  margin: 0;
}

.u,
.typography u {
  text-decoration: underline;
}
