$gridWidth: 100% !default;
$gridTotalColumns: 12 !default;
$gridColMargin: 5% !default;
$gridColWidth: ($gridWidth - ($gridColMargin * ($gridTotalColumns - 1))) / $gridTotalColumns !default;
$gridColTotalWidth: $gridColWidth + $gridColMargin !default;


// create row div
@mixin row() {
	float: left;
	width: $gridWidth;
	@include clearfix;
}


// create a column div
// @type {int}
@mixin col($n: 1) {
	float: left;
	@include span($n);
}


// make an element span n columns
// @type {int}
@mixin span($n: 1) {
	width: ($n * $gridColWidth) + (($n - 1) * $gridColMargin);
	@if $n == $gridTotalColumns {
		margin-right: 0;
	} @else {
		margin-right: $gridColMargin;
	}
}


// the last column in a row needs this
@mixin last() {
	margin-right: 0;
}


// prepend n blank columns
// @type {int}
@mixin prepend($n: 1) {
	margin-left: $gridColTotalWidth * $n
}


// append n blank columns
// @type {int}
@mixin append($n: 1) {
	margin-right: $gridColTotalWidth * $n + $gridColMargin
}
