<form class="form">
    <div class="alert fail">We regret we're currently not able to respond to users with @aol.com email addresses. There appears to be an issue with AOLs incoming mail servers. Alternative free email addresses are available from <a href="https://mail.google.com/" target="_blank">Gmail</a>, <a href="https://uk.mail.yahoo.com/" target="_blank">Yahoo</a>, <a href="https://www.live.com/" target="_blank">Outlook</a> and many more.</div>
    <fieldset>
        <label class="block" for="form-name">Name</label>
        <input id="form-name" name="name" type="text" value="" maxlength="255">
    </fieldset>
    <fieldset>
        <label class="block" for="form-email">Email</label>
        <input id="form-email" name="email_address" type="email" value="" maxlength="255" placeholder="example@example.com">
    </fieldset>
    <fieldset>
        <label class="block" for="form-telephone">Telephone</label>
        <input id="form-telephone" name="telephone" type="tel" value="" maxlength="255">
    </fieldset>
    <fieldset>
        <label class="block" for="form-subject">Subject</label>
        <input id="form-subject" name="subject" type="text" value="" maxlength="255">
    </fieldset>
    <fieldset>
        <label class="block" for="form-message">Message</label>
        <textarea id="form-message" name="message" class="form-contact-message" cols="30" rows="10"></textarea>
    </fieldset>
    <div class="form-action">
        <button type="submit" class="right">Enquire</button>
    </div>
</form> 
