
// palette
$color-primary-0: #74a611;
$color-primary-1: mix(#000, $color-primary-0, 25%);
$color-primary-2: mix(#000, $color-primary-0, 50%);
$color-primary-3: mix(#fff, $color-primary-0, 25%);
$color-primary-4: mix(#fff, $color-primary-0, 50%);
$color-secondary-1-0: #7b8073;
$color-secondary-1-1: mix(#000, $color-secondary-1-0, 25%);
$color-secondary-1-2: mix(#000, $color-secondary-1-0, 50%);
$color-secondary-1-3: mix(#fff, $color-secondary-1-0, 25%);
$color-secondary-1-4: mix(#fff, $color-secondary-1-0, 50%);
$color-secondary-2-0: #dd1e2f;
$color-secondary-2-1: mix(#000, $color-secondary-2-0, 25%);
$color-secondary-2-2: mix(#000, $color-secondary-2-0, 50%);
$color-secondary-2-3: mix(#fff, $color-secondary-2-0, 25%);
$color-secondary-2-4: mix(#fff, $color-secondary-2-0, 50%);

// typography
$body-font-family: 'Open Sans', 'Arial', 'sans-serif';
$body-font-weight: 400;
$body-font-size: 16px;
$heading-font-family: $body-font-family;
$heading-font-weight: 600;
$line-height: 1.5;

// typography color
$selection-color: #fff;
$selection-background: $color-primary-0;
$placeholder-color: mix(#000, #fff, 30%);
$heading-color: $color-secondary-1-1;
$body-color: $color-secondary-1-1;
$color-link-hover: $color-secondary-1-0;

// border radius
$border-radius: 0px;
